{% extends 'adminbase.html.twig' %}

{% block title %}Comment
{% endblock %}

{% block body %}

	{{ include('admin/admin/adminHead.html.twig') }}

	<h1>Comment</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ comment.id }}</td>
			</tr>
			<tr>
				<th>Subject</th>
				<td>{{ comment.subject }}</td>
			</tr>
			<tr>
				<th>Comment</th>
				<td>{{ comment.comment }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ comment.status }}</td>
			</tr>
			<tr>
				<th>Ip</th>
				<td>{{ comment.ip }}</td>
			</tr>
			<tr>
				<th>Userid</th>
				<td>{{ comment.userid }}</td>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Updated_at</th>
				<td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Rate</th>
				<td>{{ comment.rate }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('admin_comment_index') }}" class="btn btn-info">back to list</a>

	<a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-info">edit</a>

	{{ include('admin/comment/_delete_form.html.twig') }}

	{{ include('admin/admin/adminFooter.html.twig') }}

{% endblock %}
