{% extends 'adminbase.html.twig' %}

{% block title %}Settings index
{% endblock %}


{% block body %}

	{{ include('admin/admin/adminHead.html.twig') }}


	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Company</th>
				<th>Email</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for setting in settings %}
				<tr>
					<td>{{ setting.id }}</td>
					<td>{{ setting.title }}</td>
					<td>{{ setting.company }}</td>
					<td>{{ setting.email }}</td>
					<td>{{ setting.status }}</td>
					<td>
						<a href="{{ path('admin_settings_show', {'id': setting.id}) }}" class="btn btn-block btn-info">show</a>
					</td>
					<td>
						<a href=" {{ path('admin_settings_edit', {'id': setting.id} ) }}" class=" btn btn-block btn-info">edit</a>
					</td>

				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan=" 21">no records found</td>
		<a href="{{ path('admin_settings_new') }}" class="btn btn-warning my-3 py-1">Create new</a>
	</tr>
</td></tbody></tr>{% endfor %}</tbody></table>{{ include('admin/admin/adminFooter.html.twig') }}{% endblock %}
