{% extends 'adminbase.html.twig' %}

{% block title %}Settings
{% endblock %}


{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Settings Page</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li class="breadcrumb-item active">settings</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section
			class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Settings</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<div class="card-body">


					<table class="table">
						<tbody>
							<tr>
								<th>Id</th>
								<td>{{ setting.id }}</td>
							</tr>
							<tr>
								<th>Title</th>
								<td>{{ setting.title }}</td>
							</tr>
							<tr>
								<th>Keywords</th>
								<td>{{ setting.keywords }}</td>
							</tr>
							<tr>
								<th>Descrption</th>
								<td>{{ setting.descrption }}</td>
							</tr>
							<tr>
								<th>Company</th>
								<td>{{ setting.company }}</td>
							</tr>
							<tr>
								<th>Address</th>
								<td>{{ setting.address }}</td>
							</tr>
							<tr>
								<th>Phone</th>
								<td>{{ setting.phone }}</td>
							</tr>
							<tr>
								<th>Fax</th>
								<td>{{ setting.fax }}</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>{{ setting.email }}</td>
							</tr>
							<tr>
								<th>Smtpserver</th>
								<td>{{ setting.smtpserver }}</td>
							</tr>
							<tr>
								<th>Smtpemail</th>
								<td>{{ setting.smtpemail }}</td>
							</tr>
							<tr>
								<th>Smtppassword</th>
								<td>{{ setting.smtppassword }}</td>
							</tr>
							<tr>
								<th>Smtpport</th>
								<td>{{ setting.smtpport }}</td>
							</tr>
							<tr>
								<th>Facebook</th>
								<td>{{ setting.facebook }}</td>
							</tr>
							<tr>
								<th>Instagram</th>
								<td>{{ setting.instagram }}</td>
							</tr>
							<tr>
								<th>Twitter</th>
								<td>{{ setting.twitter }}</td>
							</tr>
							<tr>
								<th>Aboutus</th>
								<td>{{ setting.aboutus|raw }}</td>
							</tr>
							<tr>
								<th>Contact</th>
								<td>{{ setting.contact|raw }}</td>
							</tr>
							<tr>
								<th>Reference</th>
								<td>{{ setting.reference|raw }}</td>
							</tr>
							<tr>
								<th>Status</th>
								<td>{{ setting.status }}</td>
							</tr>
						</tbody>
					</table>

					<a href="{{ path('admin_settings_index') }}" class="btn btn-warning py-0 ">back to list</a>

					<a href="{{ path('admin_settings_edit', {'id': setting.id}) }}" class="btn btn-warning py-0 ">edit</a>

					{{ include('admin/settings/_delete_form.html.twig') }}


				</div>
				<!-- /.card-body -->
				<div class="card-footer">
					Footer
				</div>
				<!-- /.card-footer-->
			</div>
			<!-- /.card -->

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
{% endblock %}
